extends layout.pug
block content


 div(id = "mainwrapper" class = "container-fluid").
     <div id = "main" class = "container-fluid">
            <div class="row">
                <div id = "audiodiv" class="col-sm rounded">
                    <a class = "section-title" href = "/audio"><h4 class = "subhead">Audio</h4></a>
                    <!-- <img src="images/ct.JPG" alt="..." class="img-fluid"> -->
                </div>
                <div id = "videodiv" class="col-sm rounded">
                    <a class = "section-title" href = "/video"><h4 class = "sub">Video</h4></a>
                </div>
                <div id = "biodiv" class="col-sm rounded">  
                    <a class = "section-title" href = "/bio"><h4>Bio</h4></a>
                </div>
            </div>
        </div>
    </div>