extends layout.pug
block content
    div(class = "container-fluid").
        <div class="row">
            <div id = "audiodiv" class="col-sm">
                <h4 style = "background-color:aliceblue" >Audio</h4>
                <!-- <img src="images/ct.JPG" alt="..." class="img-fluid"> -->
            </div>
            <div id = "videodiv" class="col-sm">
                <h4>Video</h4>
            </div>
            <div id = "biodiv" class="col-sm">  
                <h4>Bio</h4>
            </div>
        </div>
    </div>