extends layout
block content

    div(id = "previewcont" class = "container-fluid")
        div(class = "row")
            div(id = "audiodiv" class = "col-sm-3 h-25 overflow:scroll")
                h4(class = "section-title") 
                    a(href = "/audio") Audio
                div(id = "audiocont" class = "row overflow:none")

            div(id = "videodiv" class = "col-sm-3 h-25 overflow:scroll")
                h4(class = "section-title-dark") Video
            div(id = "caldiv" class = "col-sm-3 h-25 overflow:scroll")
                h4(class = "section-title") Calendar
            div(id = "biodiv" class = "col-sm-3 h-25 d-inline-block" style = "overflow:scroll")
                h4(class = "section-title") Bio & Contact
                p Chris Talbot is a bass-baritone from Boston, MA
        