extends layout
block styles
    style.
        body {
            background-image: none;
        }
block content
    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1DFczBoAEBWyELA8S84mN-dDX5dV8Sm-P_5L6TGy92ZQ&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
