

body {
font-family: 'Arvo';
background-color: whitesmoke;
padding-top: 3.6rem;
}
.starter-template {
padding: 3rem 1.5rem;
text-align: center;
}

#audiodiv{
    background-color: peachpuff;
    height:100%;
}


#videodiv{
    background-color: darkcyan;
    height:100%;
}

#biodiv{
    background-color: crimson;
    height:100%;
}
